<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>

    <body>
        <h1>
            New Employee Registration
        </h1>

        <form method="post">
            <label for="username">
                <strong>Username: </strong>
            </label>
            <input type="text" placeholder="user1234" name="username" required>
            <br><br>

            <label for="password">
                <strong>Password: </strong>
            </label>
            <input type="password" placeholder="pwd1234" name="password" required>

            <button type="submit">Register!</button>
        </form>

        <br>

        <form method="post">
            <label for="generate">
                Generate a strong random password:
            </label>
            <button type="submit" name="generate"> Click here! </button>
        </form>

        {% if password%}
                <p><strong>{{password}}</strong></p>
        {% endif%}

        {% if message%}
            <p><strong>{{message}}</strong></p>
        {% endif%}
    </body>
</html>