<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Employee Logon Terminal</title>
    </head>

    <body>
        <h1>
            Employee Logon
        </h1>

        <label for="username">
            <strong>Username: </strong>
        </label>
        <input type="text" placeholder="user1234" name="username" required>
        <br><br>

        <label for="password">
            <strong>Password: </strong>
        </label>
        <input type="password" placeholder="pwd1234" name="password" required>

        <button type="submit">Login!</button>
    </body>
</html>